#.gitignore file for jacobfgrant/anejo

#.DS_Store files
.DS_Store


# Python files
*.pyc


# Terraform files
terraform/.terraform/
*.tfstate
*.tfstate.*
*.tfvars


# VSCode files
.vscode/


# Zip files
*.zip
